NUM_SHARDS_INSTANCE_COUNT=
NUM_SHARDS_VOTE_COUNT=
GRAPH_API_VERSION=
ENVIRONMENT=
SIMILARITY_THRESHOLD=
TYPESENSE_HOST=
EMBEDDER_HOST=
CHECKER1_ID=
CHECKER1_TELEGRAM_ID=
CHECKER1_PHONE_NUMBER=
TYPESENSE_PORT=
TYPESENSE_PROTOCOL=
TELEGRAM_REPORT_CHANNEL_ID=
TEST_IMAGE_URL=
HASHIDS_SALT=
WEBHOOK_PATH_WHATSAPP=
WEBHOOK_PATH_TELEGRAM=
CHECKER_APP_HOST=
WEBHOOK_PATH_TYPEFORM=
CHECKERS_GROUP_LINK=
USERS_WHATSAPP_NUMBER=
CHECKERS_CHAT_ID=
TYPEFORM_URL=

#EXTERNAL APIS
VIRUS_TOTAL_API_KEY=
