/* @tailwind base;
@tailwind components;
@tailwind utilities;  */

:root {
  --background-color: #ffffff;
  --primary-color: #ff8932;
  /* --primary-color2: #cc3502;*/
  --primary-color2: #ff4d00;
  --primary-color3: #82080c;
  --secondary-color: #ffd81b;
  --secondary-color2: #ffbb0b;
  --highlight-color: #00a8b1;
  --success-color: #d0ffc5;
  --pending-color: #fff485;
  --error-color: #ffc7a5;
  --waiting-color: #bbbbbb;
}

/* @layer components{ */
p.firebase-emulator-warning {
  top: 0;
  height: 30px;
  width: 200px !important;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.layout-padding {
  padding: 5vh 5vw 0vh 5vw;
}

.left-right-padding {
  padding: 0vh 5vw 0vh 5vw;
}

.orange-glow {
  box-shadow: 0 0 10px var(--primary-color); /* Change the color and radius as needed */
}
